/* Färgpalett 
$white:#F8F5F3;
$black:#262626;
$beige:#F8F5F3;
$nougat:#EBE6E3;
$lightgreen:#EBEDE8;
$green:#BBBFB6 */

/* Gäller för hela sidan */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,
h2,
h3,
p,
span,
button,
li {
    font-family: lust-sans, sans-serif;
    font-weight: 400;
    font-style: normal;
}

span {
    background-color: transparent;
}

html {
    height: auto;
    width: 100%
}

body {
    width: 100%
}

#root {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

main {
    width: 100%;
    flex-grow: 1;
    padding-bottom: 9rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main h2 {
    text-align: center;
}

footer {
    height: 9rem;
    bottom: 0px;
    position: fixed;
    padding: 30px;
    width: 100%;
    background-color: transparent;
    z-index: 5;
}

footer .signature {
    font-family: misslegatees-pro, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 3rem;
    bottom: 30px;
    left: 30px;
}


a {
    text-decoration: none;
    background-color: transparent;
    color: #262626;
}

.nav {
    padding: 30px 0;
}

.navList {
    background-color: transparent;
    height: 60%;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 100px 0px 50px 50px;
}

.navList li {
    background-color: transparent;
    font-size: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.navList li a {
    width: 100%;
}

.navList li:after {
    content: "chevron_right";
    font-family: "Material Symbols Outlined";
    -webkit-font-feature-settings: "liga" 1;
    font-feature-settings: "liga" 1;
    margin-left: 7px;
    font-size: 3rem;
    vertical-align: middle;
}

.activeLink a {
    font-weight: 600;
}

.menuButton {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    width: 120px;
    height: 40px;
    cursor: pointer;
    border: none;
    background: transparent;
    margin: 0px 30px;
    padding: 0;
    z-index: 3;
}

.menuButton:hover .line2 {
    transform: translateX(-10px);
}

.menuButton:hover .line3 {
    transform: translateX(40px);
}

.closedMenu~.line1 {
    transform: rotateZ(-41deg) translate(-9.5px, 7px);
    transition: transform 0.7s ease-in-out;
}

.closedMenu~.line2 {
    opacity: 0;
}

.closedMenu~.line3 {
    transform: rotateZ(41deg) translate(-8px, -7px);
    transition: transform 0.7s ease-in-out;
}

.closedMenu~.line1,
.line2,
.line3 {
    transition: all 0.7s ease-in-out;
}

.menuButton span {
    height: 3px;
    background-color: #262626;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(80, 76, 75, 0.2);
}

.line1 {
    width: 100px;
}

.line2 {
    width: 80px;
}

.line3 {
    width: 60px;
}

.menu {
    position: fixed;
    left: 0;
    top: 0;
    width: auto;
    height: 100%;
    background-color: #BBBFB6;
    z-index: 4;
}

.material-symbols-outlined {
    font-size: 60px;
    cursor: pointer;
    float: right;
    margin: 30px 30px;
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 48
}

@media only screen and (max-width: 500px) {
    .nav {
        margin-bottom: 30px;
    }

    .navList {
        height: 80%;
    }

    .navList li {
        font-size: 1.2rem;
    }

    .navList li:after {
        font-size: 2rem;
    }

    .line1 {
        width: 60px;
    }

    .line2 {
        width: 40px;
    }

    .line3 {
        width: 20px;
    }

    footer {
        height: auto;
        padding: 0 0 0 30px;
    }
}